/*.scalable-image {*/
/*  padding: 12px 6px;*/
/*}*/

/*.scalable-image > div {*/
/*  border-radius: 20px;*/
/*}*/

/*.img-container {*/
/*  height: 600px;*/
/*  width: auto;*/
/*  overflow: hidden;*/
/*}*/

/*.img-container > img {*/
/*  border-radius: 20px;*/
/*  height: 100%;*/
/*  width: 100%;*/
/*  object-fit: cover;*/
/*}*/



/*------------------------------------*/



.scalable-image {
  padding: 12px 6px;
}

.scalable-image > div {
  border-radius: 10px;
}

.img-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.img-container > img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
}


/*------------------------------------*/


.block {
  border: solid 3px whitesmoke;
  border-radius: 20px;
  margin: 5px;
}